<div class="navBar">
  <img class="navLogo" src="../images/SizeWizeLogov1.png" />
  <div class="navButton" ng-click="logout()">LOGOUT</div>
</div>

<div class="profileListContainer">
  <div class="profileListBox" ng-repeat="profile in profiles">
    <div class="profileList" ng-click="goToProf(profile)"  ng-mouseover="toggleGender(profile.genderTemplate)">{{profile.name}}</div>
  </div>
<div class="profileListBox">
  <div class="profileList" ng-click="openProfModal()">+</div>
</div>
</div>
<div class="mannequinPrevContainer">
  <div class="mannequinPrevBox">
    <img class="mannequinPrev" ng-src="{{gender=='male' && '../images/AM-body.png' || gender=='female' && '../images/AF-body.png' || '../images/AM-body.png'}}" />
  </div>


</div>
