* {
  border: 0px;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #2a0047;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #fff;
}
.welcomeContainer {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  background-color: #4b007c;
}
.splashLogoWrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.splashLogo {
  margin: 20vh;
  margin-bottom: 0;
  width: 60vh;
  height: auto;
}

.splashButtonWrapper {
  display: inline-block;
  margin: 5vh auto;
  width: 100%;
  text-align: center;
}

.splashButton {
  height: 4em;
  line-height: 4em;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 3.2vh;
  margin: 0 80px;
  cursor: pointer;
}

.splashButton:hover {
  color: #00a2ff;
}

.navBar {
  background-color: #4b007c;
  height: 15vh;
  display: inline-block;
  width: 100%;
}

.navLogo {
  width: auto;
  height: 10vh;
  margin: 2.3vh 3vw;
}

.navButton {
  height: 10vh;
  line-height: 10vh;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 3.2vh;
  cursor: pointer;
  float: right;
  margin: 2.7vh 4.6vw;

}

.navButton:hover {
  color: #00a2ff;
}

.mannequinPrevContainer {
  float: right;
  text-align: center;
  width: 50%;
}

.mannequinPrevBox {
  margin-top: 10vh;
  width: 30vw;
}

.mannequinPrev {
  height: 756px;
  float: left;
  margin-left: 5vw;
  margin-top: -6vh;
}

.mannequinContainer {
  float: right;
  text-align: center;
  width: 50%;
}

.mannequinBox {
  margin-top: 10vh;
  width: 30vw;
}

.nameLabel {
 text-transform: uppercase;
 font-size: 3.2vh;
 cursor: pointer;
 margin: -4vh 6.5vw -6vh auto;
}

.nameLabel:hover {
  color: #00a2ff;
}

.mannequin {
  height: 756px;
  float: left;
  margin-left: 5vw;
}

.profileListContainer {
  float: Left;
  width: 50%;
  height: 72vh;
  padding: 3vh 0;
  overflow: scroll;
  margin: 1vh 0 0 0;
}

.profileListContainer::-webkit-scrollbar {
    display: none;
}

.profileListBox {
  width: 20vw;
  margin: 2vh 0 0 30vw;
}

.profileList {
  height: 5vh;
  line-height: 5vh;
  width: auto;
  max-width: 15vw;
  display: block;
  text-align: center;
  font-size: 3.2vh;
  cursor: pointer;
  background: #4b007c;
  margin: 0 auto;
  overflow: hidden;
  text-transform: uppercase;
}

.profileList:hover {
  color: #00a2ff;
}

.sizeDesc {
  font-size: 2.5vh;
  font-style: italic;
}

/*Modal styling*/
.modal {
  color: white;
  width: 20vw;
  height: 20vh;
  position: absolute;
  left: 51vw;
  top: 46vh;
  margin-left: -11vw;
  margin-top: -10vh;
  background-color: #4b007c;
  z-index: 100;
  text-align: center;
  font-size: 3.2vh;
}

.centerParent {
  width: inherit;
  height: inherit;
  position: relative;
}

.buttonContainer {
  position: absolute;
  width: 13vw;
  height: 13vh;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.buttonRow {
  clear: both;
  height: 3.2vh;
  margin-bottom: 1.5vh;
}

.modalInput {
  background-color: #2a0047;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #fff;
  height: 3.2vh;
  width: 13vw;
  line-height: 3.2vh;
  font-size: 2.5vh;
  text-align: center;
  margin: 1vh auto 0 auto;
  display: block;
}

.emailInput {
  margin-top: 3vh;
}

.passwordInput {
  margin-bottom: -2vh;
}

.nameInput {
  width: 100%;
  background-color: #2a0047;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #fff;
  text-transform: uppercase;
  height: 3.2vh;
  /*width: 13vw;*/
  line-height: 3.2vh;
  font-size: 2.5vh;
  text-align: center;
  /*margin: 1vh auto 0 auto;*/
  display: block;
}

.modalSelect {
  width: 6vw;
  height: 3.4vh;
  margin-top: 1.5vh;
  margin-left: -0.7vw;
  margin-right: 0;
  display: inline-block;
  color: #a9a9a9;
}

.selOpt {
  color: white;
}

.modalNumber {
  width: 6vw;
  height: 3.2vh;
  float: right;
  margin-top: 1.5vh;
  margin-right: 3.5vw;
  margin-left: -3.6vw;
}

.profButton {
  height: 3.2vh;
  line-height: 3.2vh;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/*.button-container {
  clear: both;
  width: 70%;
  height: 3.2vh;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}*/

.leftMidBtn {
  width: 50%;
  background-color: #2a0047;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #a9a9a9;
  height: 3.35vh;
  /*width: 13vw;*/
  line-height: 3.2vh;
  font-size: 2.5vh;
  text-align: center;
  /*margin: 1vh auto 0 auto;*/
  float: left;
}

.rightMidBtn {
  width: 40%;
  background-color: #2a0047;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: white;
  height: 3.2vh;
  /*width: 13vw;*/
  line-height: 3.2vh;
  font-size: 2.5vh;
  text-align: center;
  /*margin: 1vh auto 0 auto;*/
  float: right;
}

.leftBotBtn {
  width: 3.5vw;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  height: 3.2vh;
  /*width: 13vw;*/
  line-height: 3.2vh;
  font-size: 3.2vh;
  text-align: center;
  /*margin: 1vh auto 0 auto;*/
  float: left;
  margin-top: 0.75vh;
  cursor: pointer;
}

.rightBotBtn {
  width: 5.3vw;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  height: 3.2vh;
  /*width: 13vw;*/
  line-height: 3.2vh;
  font-size: 3.2vh;
  text-align: center;
  /*margin: 1vh auto 0 auto;*/
  float: right;
  margin-top: 0.75vh;
  cursor: pointer;
}

.leftBotBtn:hover {
  color: #00a2ff;
}

.rightBotBtn:hover {
  color: #00a2ff;
}

.bottomBtn {
  margin-bottom: -2.5vh;
}


.modalButton {
  height: 3.2vh;
  line-height: 3.2vh;
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 0 0.5vw;
  cursor: pointer;
}

.modalButton:hover {
  color: #00a2ff;
}

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.5;
  opacity: .50;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  z-index: 90;
}

.infoBox {
  text-align: center;
  font-size: 3.2vh;
  margin-left: 30vw;
  margin-top: 30vh;
  color: #4b007c;
}
